<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
   {% if site.google_analytics %}
   <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', '{{ site.google_analytics }}');
   </script>
   {% endif %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% seo %}
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
   <!--[if lt IE 9]>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
   <![endif]-->
</head>
<body style="display: flex; flex-direction: column; height: 100vh; margin: 0;">
   <div class="wrapper" style="flex: 1 0 auto; margin-left: 5px; padding-left: 5px; width: 150%;">
      <header style="margin-left: 5px;">
         {% if site.logo %}
         <img src="{{site.logo | relative_url}}" alt="Logo" />
         {% endif %}
         <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section style="flex: 1 1 auto; margin-left: 5px;">
         {{ content }}
      </section>
      <footer style="margin-left: 5px; flex-shrink: 0;">
      </footer>
   </div>
   <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>
</html>
